extends layout

block content
  h1 Musica #{musica.id}
  h2 Titulo
  p= musica.tit
  h2 Provincia
  p= musica.prov
  h2 Local
  p= musica.local
  h2 Cantor / Banda
  p= musica.musico
  h2 Duracao
  p= musica.duracao